@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}
:root{
    --color-primary: #ff5400;
    --color-secondary:#fef5f5;
}

body {
    max-width: 1240px;
    margin: auto;
}

/* Shered Style//////////////////////////////////////////////////////////////////// */
.btn-primary{
    color: white;
    background-color:#ff5400;
    font-size: 16px;
    font-weight: 700;
    /* line-height: 20px; */
    /* letter-spacing: 0%; */
    text-align: center;
    border-radius: 10px;
    border: none;
    padding: 15px 30px;
    margin: 30px 0px;
    
}
.section-title{
    color: black;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 30px;
  text-align: center;
}
.section-description{
    font-size: 16px;
    color: black;
    max-width: 600px;
    margin: auto;
    font-weight: normal;
    line-height: 26px;
    padding-bottom: 30px ;
    text-align: center;
}



/* nav part responsive////////////////////////////////////////////////// */
.ham-berger{
    display: none;
}
nav {
    display: flex;
    justify-content: space-between;
    /* background: red; */
    padding: 30px 0px;
}
.logo-text{
    font-size: 2rem;
  font-weight:800;
}
.logo-span{
    color: #ff5400;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menus>ul {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 4rem;
    list-style: none;
}

/* .banner part  */

.banner {
    background-image: url("./Images/Group\ 13\ \(1\)\ \(1\).png"),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1));
    background-blend-mode: overlay;
    border-radius: 10px;
   
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content{
    text-align: center;
}
.banner-title{
    font-size: 64px;
    color: white;
}
.banner-description{
    font-size: 1rem;
    color: white;
    max-width: 600px;
    margin: auto;
    font-weight: normal;
    line-height: 26px;
    padding: 30px 0px;
}

.input-container{
    display: flex;
    gap: 30px;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: fit-content;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #fff;
    
    text-align: center;
}
.input-container input,select{
   padding: 0px 1rem;
   height:50px;
   width:175px ;
   border-radius: 10px;
   border: none;
   outline: none;

}
.banner-btn{
    color: white;
    background-color:#ff5400;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 10px;
    border: none;
    padding: 0px 50px;
    height:50px;
   width:210px ;
   display: flex;
   align-items: center;
} 
.fa-solid{
    margin-right: 10px;
}

/* section-1 popular section */

.popular-section{
    display: flex;
    gap: 20px;
    margin: 100px 0px 50px 0px;
}
.popular-title{
  color: black;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 30px;
}

.popular-description{
    line-height: 30px;
}
.popular-ul{
    margin: 30px 50px 30px 30px;
}
.popular-ul li{
    line-height: 30px;
}

/* Your Destination Section */
.destination-section img{
   height: 300px;
   width: 100%;
   filter: brightness(70%);
}
.row-1,.row-2,.row-3{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
}
.row-2{
    grid-template-columns: 0.8fr 1.3fr 0.7fr;
}
.row-3{
    grid-template-columns: 0.8fr 1.2fr;
}
.country-card{
    position: relative;
}
.country{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    transform: translate(-50%,-50%);
}

/* why choose us section */


.choose-section{
    margin: 100px 0px 50px 0px;
}

.box-container{
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* text-align:center; */
    justify-content: center;
}

.box{
    max-width: 550px;
    background-color: var(--color-secondary);
    padding: 30px;
    border-radius: 10px;

}
.box-title{
  font-size: 22px;
  color: black;
  margin: 15px 0px;
}


/* newslatter section style */

.newslatter-section{
    margin: 100px 0px 50px 0px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.newslatter-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    max-width: 500px;
    /* min-height: 200px; */
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    line-height: 50px;
}


.news-title{
    font-size: 18px;
    font-weight: 800;
    color: black;
}
hr{
    margin-bottom: 20px;
}
.input-news{
    padding: 20px;
    border: none;
    background-color: whitesmoke;
    border-radius: 5px;
}.input-btn{
    padding: 20px;
    background-color: #ff5400;
    color: white;
    border: none;
    border-radius: 5px;
}

.input-newslatter {
    display:flex ;
    gap: 20px;
    flex-direction: column;
    max-width: 400px;
}

.newslatter-img-div{
    
   
    /* width: 60%; */
    border-radius: 10px;
    position: relative;
}
.newslatter-img-div img{
    width: 100%;
    height: 100%;
}
.discount{
    background-color: var(--color-primary);
    border-radius: 10px;
    max-width: 250px;
    text-align: center;
    color: #fef5f5;
    padding: 30px;
    transform:rotate(-25deg);
    position: absolute ;
    
    /* bottom: 0; */
    bottom: 15%;
    right: 5%;
    
}


/* footer */
footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    background-color: var(--color-secondary);
    padding: 100px;
    border-radius: 10px;
    /* line-height: 50px; */
    margin-top: 100px ;
}
.footer-descrip{
    max-width: 600px;
    margin: auto;
}
